<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

td {
	font-size: 9pt;	color: #000000;
}
th{
font-size: 9pt;	color: #ffffff;
}

a:hover {
	font-size: 9pt;	color: #FF0000;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #000000;
	noline:expression(this.onfocus=this.blur);
}
img{
	border:0;
}
.img1{
	border:1;
}
.blue {
	font-size: 9pt;	color: #034683;
}
.bgcolor {
	font-size: 9pt;	color: #1980DB;
}
.btn_grey {
	font-family: "ËÎÌå";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
input{
	
	/*font-family: "ËÎÌå";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
	*/

}
.word_white{
 color:#FFFFFF;
}
.word_deepgrey{
 color:#999999;
}
.word_orange{
 color:#FF6600;
}
.word_green{
 color:#FEECEA;
}
.noborder{
border:none;
}
.word_gray{
 color:#dddddd;
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image:url(../images/bg.gif)
}
.textarea {
	font-family: "ËÎÌå";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
.tableBorder {
	border: #D8D8D8 1px solid;
}
.tableBorder_dashed {
	border: #D8D8D8 1px dashed;
}
.tableBorder_l {
	border: #004C86 1px solid;
	border-bottom-style:none;
	border-right-style:none;
	border-top-style:none;
}
.tableBorder_r {
	border: #004C86 1px solid;
	border-bottom-style:none;
	border-left-style:none;
	border-top-style:none;
}
.tableBorder_lb {
	border: #D8D8D8 1px solid;
	border-left-style:none;
	border-top-style:none;
}
.tableBorder_l_dashed {
	border: #D8D8D8 1px dashed;
	border-bottom-style:none;
	border-left-style:none;
	border-top-style:none;
}
.tableBorder_T_dashed {
	border: #D8D8D8 1px dashed;
	border-bottom-style:none;
	border-left-style:none;
	border-right-style:none;
}
.tableBorder_LTR_dashed {
	border: #D8D8D8 1px dashed;
	border-bottom-style:none;
}
.tableBorder_B_dashed {
	border: #D8D8D8 1px dashed;
	border-top-style:none;
	border-left-style:none;
	border-right-style:none;
}
.hidden_a_line{
	noline:expression(this.onfocus=this.blur);
}
hr{
border-style:dashed;
color:#CCCCCC;
}

.a1:link {    
	COLOR: #FFFFFF; TEXT-DECORATION: none; font-size:9pt;
}
.a1:visited {   
	COLOR: #FFFFFF; TEXT-DECORATION: none; font-size:9pt;
}
.a1:active {    
	COLOR: #FFFFFF; TEXT-DECORATION: none; font-size:9pt;
}
.a1:hover {   
	COLOR: #FF0000; font-size:9pt;
}

.a2:link {    
	COLOR: #606060; TEXT-DECORATION: none; font-size:12px;
}
.a2:visited {   
	COLOR: #606060; TEXT-DECORATION: none; font-size:12px;
}
.a2:active {    
	COLOR: #606060; TEXT-DECORATION: none; font-size:12px;
}
.a2:hover {   
	COLOR: #FF0000; font-size:12px;
}
.add_select
{
	/*width£º950px;*/
	top:170px;
	left:200px;
	width:800px;
	position: absolute;
}

.add_select1 td{
	height:29px;
    align:left;
}
.add_select1{
	width£º950px;
	top:190px;
	left:45px;
	position: absolute;
}
/*

*/












-->
